@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-diagonal {
  clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
}

/* Toastify: Personalização com as tuas cores Tailwind */
.Toastify__toast-icon svg {
  color: #fff !important;
  fill: #fff !important;
}

.Toastify__progress-bar {
  background: #fff !important;
}

.Toastify__toast {
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.16) !important;
  border-radius: 12px !important;
  padding: 1rem 1.5rem !important;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem !important;
  max-width: 1000px !important;
}

/* Sucesso */
.Toastify__toast--success {
  background-color: #D41C1C !important; /* primary */
  color: #fff !important;  
}

/* Erro */
.Toastify__toast--error {
  background-color: #1F1F1F!important; /* accent */
  color: #fff !important;
}
/* Info */
.Toastify__toast--info {
  background-color: #1F1F1F !important; /* dark */
  color: #fff !important;
}
/* Warning */
.Toastify__toast--warning {
  background-color: #F4F4F4 !important; /* secondary */
  color: #D41C1C !important;
  border: 1px solid #D41C1C;
}
/* Corpo do toast */
.Toastify__toast-body {
  font-family: "Inter", sans-serif !important;
  font-size: 1.15rem;
}
/* Botão de fechar */
.Toastify__close {
  color: #fff !important;
}
